<script type="module">
  import { createApp } from
    'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  createApp({
    data() {
      return {
        title: 'Welcome to my Weather App',
        newLocation: '',
        searchedLocation: '',
        display: null
        // pol: false
      }
    },
    methods: {
      Go:go
    }
  }).mount('#app')
  function go() {
    //this.display += "Weather for " + this.location
    this.searchedLocation = this.newLocation
    this.newLocation = ''
    console.log("go: called for: " + this.searchedLocation)
    let prom = fetch("http://127.0.0.1:3001/location/" + this.searchedLocation)
      .then(response => response.json())
      .then(response => {
        this.display = response
        console.log(response)
        // format response
      })
    //   console.log("go: fetched!")
    // prom = fetch("http://127.0.0.1:3001/pol/" + this.display.lon + "/" + this.display.lat)
    //   .then(response => response.json())
    //   .then(response => {
    //     this.pol = response
    //     console.log(response)
    //     // format response
    //   })
    console.log("go: fetched!")
  }
</script>

<body>
  <div class="main-div" id="app">
    <h1>{{ title }}</h1>
    <p>Where are you going?</p>
    <input v-on:keydown.enter="Go" v-model="newLocation">
    <button @click="Go">Go!</button>
    <!--If response is successful-->
    <span v-if="display != null && display.code == 200">
      <h3>Displaying 4-day weather for {{ searchedLocation }}</h3>
      <span v-if="display.isRain">
        <p>Rain is expected so don't forget to pack for rain! &#127783;</p>
      </span>
      <p>Pack for <span v-if="display.isTemp[0]">cold</span><span v-if="display.isTemp[0] && display.isTemp[1] && display.isTemp[2]">, </span><span v-else-if="display.isTemp[0] && display.isTemp[1] && !display.isTemp[2]"> and </span><span v-if="display.isTemp[1]">mild</span><span v-if="display.isTemp[1] && display.isTemp[2]"> and </span><span v-if="display.isTemp[2]">hot</span> weather</p>
      <div class="ttable">
        <div class="trow">
            <div class="day">
              <p class="date">{{ display.summary.date[0] }}</p>
              <p><b class="temp">{{ display.summary.temp[0] }}&deg;C</b></p>
              <p style="font-size: 12px">Average Daily Temperature</p>
              <p class="wind">Average windspeed: <b style="font-size: 14px">{{ display.summary.wind[0] }}</b>m/s</p>
              <p class="rain">Total rainfall: <b style="font-size: 14px">{{ display.summary.rain[0] }}</b>mm</p>
            </div>
            <div class="day">
              <p class="date">{{ display.summary.date[1] }}</p>
              <p><b class="temp">{{ display.summary.temp[1] }}&deg;C</b></p>
              <p style="font-size: 12px">Average Daily Temperature</p>
              <p class="wind">Average windspeed: <b style="font-size: 14px">{{ display.summary.wind[0] }}</b>m/s</p>
              <p class="rain">Total rainfall: <b style="font-size: 14px">{{ display.summary.rain[0] }}</b>mm</p>
            </div>
            <div class="day">
              <p class="date">{{ display.summary.date[2] }}</p>
              <p><b class="temp">{{ display.summary.temp[2] }}&deg;C</b></p>
              <p style="font-size: 12px">Average Daily Temperature</p>
              <p class="wind">Average windspeed: <b style="font-size: 14px">{{ display.summary.wind[0] }}</b>m/s</p>
              <p class="rain">Total rainfall: <b style="font-size: 14px">{{ display.summary.rain[0] }}</b>mm</p>
            </div>
            <div class="day">
              <p class="date">{{ display.summary.date[3] }}</p>
              <p><b class="temp">{{ display.summary.temp[3] }}&deg;C</b></p>
              <p style="font-size: 12px">Average Daily Temperature</p>
              <p class="wind">Average windspeed: <b style="font-size: 14px">{{ display.summary.wind[0] }}</b>m/s</p>
              <p class="rain">Total rainfall: <b style="font-size: 14px">{{ display.summary.rain[0] }}</b>mm</p>
            </div>
        </div>
    </div>
     </span>
    <!--Else-if response is unsuccessful-->
    <span v-else-if="display != null && display.code == 404">
      <h3>{{ searchedLocation }} could not be found (or there is a server error :O)...</h3>
    </span>
  </div>
</body>

<style>
  .ttable {
    width: 100%; 
    display: table;
  }
  .trow {
    display: table-row; 
    height: 100px;
  }
  .day {
    width: 25%; 
    display: table-cell;
    margin: 0;
  }
  .main-div {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
  }
  .temp {
    font-size: 40px;
  }
  .wind {
    font-size: 12px;
    color: rgb(255, 162, 185);
  }
  .rain {
    font-size: 12px;
    color: rgb(254, 139, 167);
  }
  .date {
    font-size: 12px;
    color: pink;
  }
  body {
      background-color: rgb(0,0,0);
      text-align: center;
  }
   h1 {
       color: indianred;
   }
   h3 {
    color: pink;
   }
   p {
    color: wheat;
   }
   button {
    background-color:indianred;
   }
   button:hover {
    background-color:pink;
   }
</style>